.register-box{
    min-height: 100vh;
    width: 100%;
background-image: url(../../../assets/imags/loginbg.png);


     :global(.register-img){
               width: 70px;
               height: 70px;
              background-color: red;

     }



     :global(.register-icons){
        border: 1px solid #dee2e6;
        width: 38px;
        height: 38px;
     }

     :global(.eye-pointer){
      cursor: pointer;
      margin-right: 6px;
     }
    
     :global(.error-message){
      font-size: 12px;
     }
    
     :global(.register-btn){
      margin-top: 70px;
     }
     :global(.country-option){
       white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
     }



}





@media screen and (min-width:750px) {
.register-parent{
    width: 60%;
}
}